<div class="angle-data">&#x03b8;={{theta | number}}&deg;</div>

<div class="angle-data">sin(&#x03b8;)
  =
  <div class="ratio">
    <span class="opposite">{{opposite | number}}</span>
    <div class="divider"></div>
    <span class="hypotenuse">{{hypotenuse | number}}</span>
  </div>
  <span>= {{sinTheta | number}}</span>
</div>

<div class="angle-data">cos(&#x03b8;)
  =
  <div class="ratio">
    <span class="adjacent">{{adjacent | number}}</span>
    <div class="divider"></div>
    <span class="hypotenuse">{{hypotenuse | number}}</span>
  </div>
  <span>= {{cosTheta | number}}</span>
</div>

<div class="angle-data">tan(&#x03b8;)
  =
  <div class="ratio">
    <span class="opposite">{{opposite | number}}</span>
    <div class="divider"></div>
    <span class="adjacent">{{adjacent | number}}</span>
  </div>
  <span>= {{tanTheta | number}}</span>
</div>
